@import url("@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*===================================================*/
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.svg") format("svg"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.svg") format("svg"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto-Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #eceef2;
}

main {
  background-color: #fff;
}

.massage {
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #fbfbfb;
  font-weight: 400;
  letter-spacing: 2px;
  background: #000;
  height: 29px;
  padding: 7px 0 7px 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66px;
  padding-left: 11px;
  padding-right: 20px;
  background-color: #fff;
}
header .nav-panel ul {
  display: flex;
}
header .nav-panel ul li {
  margin-right: 23px;
  cursor: pointer;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1px;
}
header .nav-panel ul :last-child {
  margin-right: 0px;
}
header .nav-panel ul :hover {
  text-decoration: underline;
  text-shadow: 0 0 2px rgba(148, 148, 148, 0.35);
}
header .nav-panel ul :hover {
  position: relative;
  top: -3px;
}
header .account :first-child {
  margin-right: 11px;
}
header .account img {
  cursor: pointer;
}
header .account img:hover {
  position: relative;
  top: -3px;
}
header .account img:active {
  top: -6px;
}
header .logo {
  cursor: pointer;
}
header .logo:hover {
  position: relative;
  top: -3px;
}

.main-1 {
  position: relative;
  color: #000000;
}
.main-1 img {
  width: 100%;
}
.main-1 .welcome-to-boosted {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 53px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  align-items: center;
}
.main-1 .welcome-to-boosted h1 {
  font-size: 44px;
  line-height: 51px;
}
.main-1 .welcome-to-boosted p {
  margin-top: 14px;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 1px;
}
.main-1 .welcome-to-boosted .bottoms-boosted {
  margin-top: 22px;
}
.main-1 .welcome-to-boosted .bottoms-boosted a {
  display: inline-block;
  width: 201px;
  height: 33px;
  background: #ff4a32;
  border-radius: 35px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  margin-right: 10px;
}
.main-1 .welcome-to-boosted .bottoms-boosted a:last-child {
  margin-right: 0px;
}
.main-1 .welcome-to-boosted .bottoms-boosted a:hover {
  background: #d53e2a;
}

.black-stripe {
  height: 83px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 190px 0 190px;
}

.main-2 .text__main-2 {
  text-align: center;
  align-items: center;
}
.main-2 .text__main-2 h2 {
  margin-top: 52px;
  font-size: 32px;
  line-height: 36px;
}
.main-2 .text__main-2 p {
  margin-top: 17px;
  font-size: 15px;
  line-height: 19px;
}
.main-2 .text__main-2 .grey-line {
  background: #cfcfcf;
  width: 70px;
  height: 2px;
  margin: 0 auto;
  margin-top: 25px;
}
.main-2 .main-2__img {
  display: flex;
  justify-content: center;
  margin: 45px 0 20px 0;
  padding-left: 130px;
  padding-right: 130px;
}
.main-2 .main-2__img .img__boards {
  position: relative;
  margin-right: 10px;
}
.main-2 .main-2__img .img__boards .img__boards-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #eceef2;
  font-size: 25px;
  line-height: 30px;
}
.main-2 .main-2__img .img__boards .img__boards-text a {
  font-size: 18px;
  line-height: 23px;
  color: #eceef2;
}
.main-2 .main-2__img .img__boards .img__boards-text a:hover {
  color: #fff;
  text-decoration: underline;
}
.main-2 .main-2__img .img__revs {
  position: relative;
  margin-left: 10px;
}
.main-2 .main-2__img .img__revs .img__revs-text {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #eceef2;
  font-size: 25px;
  line-height: 30px;
}
.main-2 .main-2__img .img__revs .img__revs-text a {
  font-size: 18px;
  line-height: 23px;
  color: #eceef2;
}
.main-2 .main-2__img .img__revs .img__revs-text a:hover {
  color: #fff;
  text-decoration: underline;
}

.skateboards {
  text-align: center;
  color: #000;
  margin-top: 20px;
}
.skateboards__body {
  position: relative;
}
.skateboards__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 44px;
  left: 50%;
  transform: translate(-50%, 0%);
}
.skateboards__up-title {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 11px;
}
.skateboards__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 51px;
  margin-bottom: 15px;
}
.skateboards__subtitle {
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 20px;
}
.skateboards__button button {
  font-size: 15px;
  line-height: 19px;
  width: 201px;
  height: 33px;
  background-color: #ff4a32;
  border-radius: 35px;
  color: #fff;
  text-align: center;
}
.skateboards__button button:hover {
  background: #d53e2a;
}

.rev__body {
  display: flex;
  align-items: center;
  padding: 0 120px;
  margin: 45px auto;
}
.rev__item {
  margin: 0 10px;
}

.item-rev {
  text-align: left;
  margin: 0 10px;
}
.item-rev__title {
  font-size: 32px;
  line-height: 38px;
  margin-bottom: 21px;
}
.item-rev__text {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
}
.item-rev__button button {
  font-size: 15px;
  line-height: 22px;
  width: 101px;
  height: 33px;
  background-color: #ff4a32;
  border-radius: 35px;
  color: #fff;
  text-align: center;
}
.item-rev__button button:hover {
  background: #d53e2a;
}

.shop-boosted {
  display: flex;
  text-align: center;
  width: 100%;
}
.shop-boosted a {
  font-size: 18px;
  line-height: 23px;
  color: #eceef2;
}
.shop-boosted a:hover {
  color: #fff;
  text-decoration: underline;
}
.shop-boosted__item {
  position: relative;
}

.image--shop-boosted {
  color: #eceef2;
}
.image--shop-boosted__container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  color: #eceef2;
}
.image--shop-boosted__container a {
  font-size: 18px;
  line-height: 23px;
}
.image--shop-boosted__container a:hover {
  color: #fff;
  text-decoration: underline;
}
.image--shop-boosted__title {
  font-size: 25px;
  line-height: 30px;
}

.youtube {
  display: flex;
  align-items: center;
  padding: 0 170px;
  margin-top: 55px;
}
.youtube__body {
  display: flex;
  align-items: center;
}
.youtube__body :first-child {
  margin-right: 10px;
}
.youtube__body :last-child {
  margin-left: 10px;
}
.youtube__body img {
  cursor: pointer;
}
.youtube__body img:hover {
  position: relative;
  top: -8px;
  box-shadow: 0px 6px 5px 0px rgba(37, 37, 37, 0.92);
}

.accessories__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  margin-bottom: 50px;
}
.accessories__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 36px;
  padding-bottom: 24px;
  text-align: center;
  position: relative;
}
.accessories__title:after {
  content: "";
  position: absolute;
  width: 50px;
  bottom: 0;
  height: 2px;
  left: 50%;
  background-color: #cfcfcf;
  margin: 0px 0px 0px -25px;
}
.accessories__pannel {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 65px;
}
.accessories__pannel .arrow-1 {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom: 0;
  background-color: rgba(212, 211, 211, 0.75);
  height: 44px;
  width: 44px;
  border-radius: 22px;
}
.accessories__pannel .arrow-1:hover {
  background-color: rgba(181, 179, 179, 0.75);
}
.accessories__pannel .arrow-1:last-child {
  right: 0;
  transform: rotate(180deg);
}

.item-accessories {
  padding: 0 10px;
  text-align: center;
}
.item-accessories__name {
  color: #ff4a32;
  font-size: 15px;
  line-height: 18px;
}
.item-accessories__name:hover {
  text-decoration: underline;
}
.item-accessories__price {
  color: #000000;
  font-size: 14px;
  line-height: 18px;
}
.item-accessories .sold-out {
  color: rgba(0, 0, 0, 0.3);
}
.item-accessories .red-price span {
  color: #ff2121;
}
.item-accessories:hover {
  position: relative;
  top: -15px;
  cursor: pointer;
}

.advantages {
  background-color: #000;
  width: 100%;
  display: flex;
  padding: 15px 0 35px 0;
  height: 308px;
}

.item-advantages {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 30px;
  padding: 20px 0px;
}
.item-advantages__title {
  margin-top: 5px;
  font-weight: 700;
  font-size: 31px;
  line-height: 36px;
}
.item-advantages__text {
  margin-top: 25px;
  font-size: 15px;
  line-height: 22px;
}

.about {
  display: flex;
  padding: 0 130px;
  height: 329px;
  background: #f7f7f7;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-between;
  color: #000;
}

.item-about {
  display: flex;
  flex-direction: column;
}
.item-about__title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
.item-about__links {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  line-height: 21px;
}
.item-about__links a {
  color: #000;
  font-size: 13px;
  line-height: 21px;
}
.item-about__links a:hover {
  text-decoration: underline;
}
.item-about__text {
  margin-top: 12px;
  font-size: 14px;
  line-height: 21px;
}
.item-about__adress {
  margin-top: 20px;
  font-size: 13px;
  line-height: 21px;
}
.item-about img:hover {
  position: relative;
  top: -5px;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 0 130px;
  height: 70px;
  background-color: #fff;
  align-items: center;
}
footer .footer-left {
  font-size: 13px;
  line-height: 19px;
  color: #000;
}
footer .footer-left span {
  font-size: 12px;
  color: #ff4a32;
  position: relative;
  top: -1px;
  cursor: pointer;
}
footer .footer-left span:hover {
  text-decoration: underline;
}
footer .footer-left span:hover:last-child {
  text-decoration: none;
}
footer .footer-right {
  display: flex;
  align-items: center;
}
footer .footer-right img {
  margin: 0 2px;
}
footer .footer-right img:hover {
  position: relative;
  top: -3px;
  box-shadow: 0px 2px 2px 0px rgba(37, 37, 37, 0.8);
}