@import "_nullstyle.scss";

@import url("@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');");
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.svg') format('svg'),
            url('../fonts/Roboto-Regular.ttf') format('truetype'),
            url('../fonts/Roboto-Regular.woff') format('woff'),
            url('../fonts/Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.svg') format('svg'),
            url('../fonts/Roboto-Bold.ttf') format('truetype'),
            url('../fonts/Roboto-Bold.woff') format('woff'),
            url('../fonts/Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}


*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto-Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    max-width: 1440px;
    margin: 0 auto;
    background-color: #eceef2;
}

main{
    background-color: #fff;
}

.massage{
    text-align: center;
    font-size: 12px;
    line-height: 15px;
    color: #FBFBFB;
    font-weight: 400;
    letter-spacing: 2px;
    background: #000;
    height: 29px;
    padding: 7px 0 7px 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height: 66px;
    padding-left: 11px;
    padding-right: 20px;
    background-color: #fff;
    .nav-panel{
        ul{
            display: flex;
            li{
                margin-right: 23px;
                cursor: pointer;
                font-size: 14px;
                line-height: 21px;
                letter-spacing: 1px;
                }
                :last-child{
                    margin-right: 0px;
                }
                :hover{
                    text-decoration: underline;
                    text-shadow: 0 0 2px rgba(148, 148, 148, 0.35);
                }
        }
    }
    .account{
        :first-child{
            margin-right: 11px;
        }
        img{
            cursor: pointer;
        }
    }
    .logo{
        cursor: pointer;
    }
}

.main-1{
    position: relative;
    color: #000000;
    img{
        width: 100%;
    }
    .welcome-to-boosted{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 53px;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        align-items:center;
        h1{
            font-size: 44px;
            line-height: 51px;
        }
        p{
            margin-top: 14px;
            font-size: 15px;
            line-height: 19px;
            letter-spacing: 1px;
        }
        .bottoms-boosted{
            margin-top: 22px;
            a{
            display: inline-block;
            width: 201px;
            height: 33px;
            background: #FF4A32;
            border-radius: 35px;
            color: #fff;
            text-align: center;
            padding-top: 10px;
            margin-right: 10px;
            &:last-child{
                margin-right: 0px;
            }
            &:hover{
                background: #d53e2a;
            }
            }
        }
        
    }
}

.black-stripe{
    height: 83px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 190px 0 190px;
}

.main-2{
    .text__main-2{
        text-align: center;
        align-items: center;
        h2{
            margin-top: 52px;
            font-size: 32px;
            line-height: 36px;
        }
        p{
            margin-top: 17px;
            font-size: 15px;
            line-height: 19px;
        }
        .grey-line{
            background: #CFCFCF;
            width: 70px;
            height: 2px;
            margin: 0 auto;
            margin-top: 25px;
        }
    }
    .main-2__img{
        display: flex;
        justify-content: center;
        margin: 45px 0 20px 0;
        padding-left: 130px;
        padding-right: 130px;
        .img__boards{
            position: relative;
            margin-right: 10px;
            .img__boards-text{
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 50%;
                left: 50%;
                align-items:center;
                transform: translate(-50%, -50%);
                color: #eceef2;
                font-size: 25px;
                line-height: 30px;
                a{
                    font-size: 18px;
                    line-height: 23px;
                    color: #eceef2;
                    &:hover{
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
        .img__revs{
            position: relative;
            margin-left: 10px;
            .img__revs-text{
                position: absolute;
                display: flex;
                flex-direction: column;
                top: 50%;
                left: 50%;
                align-items:center;
                transform: translate(-50%, -50%);
                color: #eceef2;
                font-size: 25px;
                line-height: 30px;
                a{
                    font-size: 18px;
                    line-height: 23px;
                    color: #eceef2;
                    &:hover{
                        color: #fff;
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.skateboards {
    text-align: center;
    color:#000;
    margin-top: 20px;
    &__body {
        position: relative;
    }

    &__container {
        position:absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 44px;
        left: 50%;
        transform: translate( -50%, 0%);
    }

    &__up-title {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 11px;
    }

    &__title {
        font-weight: 700;
        font-size: 45px;
        line-height: 51px;
        margin-bottom: 15px;
    }

    &__subtitle {
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 20px;
    }

    &__button {
        button{
            font-size: 15px;
            line-height: 19px;
            width: 201px;
            height: 33px;
            background-color: #FF4A32;
            border-radius: 35px;
            color: #fff;
            text-align: center;
            &:hover{
                background: #d53e2a;
            }
        }
    }
}

.rev {

    &__body {
        display: flex;
        align-items: center;
        padding: 0 120px;
        margin: 45px auto;
    }

    &__item {
        margin: 0 10px;
    }
}
.item-rev {
    text-align: left;
    margin: 0 10px;
    &__title {
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 21px;
    }

    &__text {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 18px;
    }

    &__button {
        button{
            font-size: 15px;
            line-height: 22px;
            width: 101px;
            height: 33px;
            background-color: #FF4A32;
            border-radius: 35px;
            color: #fff;
            text-align: center;
            &:hover{
                background: #d53e2a;
            }
        }
    }
}

.shop-boosted {
    display: flex;
    text-align: center;
    width: 100%;
    a{
        font-size: 18px;
        line-height: 23px;
        color: #eceef2;
        &:hover{
            color: #fff;
            text-decoration: underline;
        }
    }
    &__item {
        position: relative;
    }
}
.image--shop-boosted {
    color: #eceef2;
    &__container{
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 50%;
        left: 50%;
        align-items:center;
        transform: translate(-50%, -50%);
        color: #eceef2;
        a{
            font-size: 18px;
            line-height: 23px;
            &:hover{
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    &__img{
    }
    &__title {
        font-size: 25px;
        line-height: 30px;
    }
}

.youtube {
    display: flex;
    align-items: center;
    padding: 0 170px;
    margin-top: 55px;
    &__body {
        display: flex;
        align-items: center;
        :first-child{
            margin-right: 10px;
        }
        :last-child{
            margin-left: 10px;
        }
    }
}


.accessories {

    &__body {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-top: 64px;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        padding-bottom: 24px;
        text-align: center;
        position: relative;
        &:after{
            content:'';
            position: absolute;
            width: 50px;
            bottom: 0;
            height: 2px;
            left: 50%;
            background-color:#CFCFCF;
            margin: 0px 0px 0px -25px;
        }
    }

    &__pannel {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: 65px;
        .arrow-1{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items:center;
            justify-content: center;
            bottom: 0;
            background-color: rgba(212, 211, 211, 0.75);
            height: 44px;
            width: 44px;
            border-radius: 22px;
            &:hover{
                background-color: rgba(181, 179, 179, 0.75);
            }
            &:last-child{
                right: 0;
                transform: rotate(180deg);
            }
        }
    }
}

.item-accessories {
    padding: 0 10px;
    text-align: center;
    &__name {
        color: #FF4A32;
        font-size: 15px;
        line-height: 18px;
    }

    &__price {
        color: #000000;
        font-size: 14px;
        line-height: 18px;
    }
    .sold-out{
            color:  rgba(0, 0, 0, 0.3);
    }
    .red-price{
        span{
            color: #FF2121;
        }
    }
}






